<div class="container body ">
    <!-- <app-data-binding></app-data-binding> -->
     <!-- <app-categories></app-categories> -->
    <!-- <app-data-binding-homework></app-data-binding-homework> -->
     <!-- <app-directives></app-directives> -->
      <!-- <app-user-list></app-user-list>
        -->
      <!-- <app-product-list></app-product-list> -->
      <!-- <app-employee-crud></app-employee-crud> -->
       <!-- <app-pipes-demo></app-pipes-demo> -->
        <!-- <app-parent-demo></app-parent-demo> -->
         <!-- <app-employe-crud></app-employe-crud> -->
<!-- <button (click)="flag =!flag">Toggle</button> -->
         <!-- @if(flag){
          <app-demo1></app-demo1>
         }@else {
          <app-demo2></app-demo2>
         } -->
          <!-- <app-http-services></app-http-services> -->
           <!-- <app-employee-components></app-employee-components> -->
            <!-- <app-employee-crud-http></app-employee-crud-http> -->
             <!-- <app-comment-list></app-comment-list> -->
              <!-- <app-observable-demo3></app-observable-demo3> -->
               <!-- <app-students-crud></app-students-crud> -->
                <!-- <app-subject-demo></app-subject-demo> -->
                 <!-- <app-todo-list></app-todo-list>
                 <app-todo-add></app-todo-add> -->
                 <!-- <app-http-demo2></app-http-demo2>
                   -->
                 
                   <!-- <app-signal-demo1></app-signal-demo1> -->
<!-- <app-employee-subject-assignment></app-employee-subject-assignment> -->
 <!-- <app-form-demo1></app-form-demo1> -->
  <!-- <app-template-form-demo></app-template-form-demo> -->
   <router-outlet></router-outlet>
             
</div>