<div class="container mt-4">

<h2>Employee CRUD</h2>

<div class="card p-3 mb-4">

  <input
  class="form-control mb-2"
  placeholder="Name"
  [(ngModel)]="newEmployee.name">

  <input
  class="form-control mb-2"
  placeholder="Department"
  [(ngModel)]="newEmployee.department">

  <input
  type="number"
  class="form-control mb-2"
  placeholder="Salary"
  [(ngModel)]="newEmployee.salary">

  <button
  class="btn btn-primary"
  (click)="addEmployee()">

  Add Employee

  </button>

</div>

<table class="table table-bordered">

<thead>

<tr>

<th>ID</th>
<th>Name</th>
<th>Department</th>
<th>Salary</th>
<th>Action</th>

</tr>

</thead>

<tbody>

@for(emp of employees; track emp.id){

<tr>

<td>{{emp.id}}</td>
<td>{{emp.name}}</td>
<td>{{emp.department}}</td>
<td>{{emp.salary}}</td>

<td>

<button
class="btn btn-info me-2"
(click)="viewEmployee(emp)">

<i class="fa fa-eye"></i>
View
</button>

<button
class="btn btn-danger"
(click)="deleteEmployee(emp.id)">

<i class="fa fa-trash"></i>
Delete
</button>

</td>

</tr>

}

</tbody>

</table>

</div>

<div
class="modal fade"
id="employeeModal">

<div class="modal-dialog">

<div class="modal-content">

<div class="modal-header">

<h5>Employee Details</h5>

<button
class="btn-close"
data-bs-dismiss="modal">
</button>

</div>

<div class="modal-body">

@if(selectedEmployee){

<p>
<b>ID:</b>
{{selectedEmployee.id}}
</p>

<p>
<b>Name:</b>
{{selectedEmployee.name}}
</p>

<p>
<b>Department:</b>
{{selectedEmployee.department}}
</p>

<p>
<b>Salary:</b>
{{selectedEmployee.salary}}
</p>

}

</div>

</div>

</div>

</div>